* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

.main {
  position: relative;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  background-image: url('/jenny/twitter/assets/img/leaves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  background: rgba(247, 246, 244, 0.97);
  width: 60%;
  max-width: 500px;
  height: auto;
  box-shadow: 0 10px 50px rgba(0,0,0,0.2);
  border-radius: 3px;
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  overflow:  hidden;
  margin: 0.5em auto;
  border-radius: 150px;
}

img {
  width: 150%;
  margin-left: -40%;
}

h1 {
  font-weight: 300;
  color: #5fb4ec;
  margin-bottom: 1em;
}

p {
  color: #666;
  font-size: 1em;
}

.tweet {
  margin: 1em auto;
}

span {
  font-size: 0.6em;
  color: rgba(88, 179, 235, 0.7);
}

span a {
  color: rgba(88, 179, 235, 0.7);
}

.error {
  color: #F44336;
  padding: 0 0 0 1em;
  display: block;
  margin: -15px 0 0 10px;
}

form {
  text-align: left;
  padding: 20px 0;
  position:  relative;
}

textarea {
  display: block;
  width: 90%;
  margin: 0 auto 2em;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 1em;
  font-family:  "Open Sans", sans-serif;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder {
  color: #aaa;
}

input:-moz-placeholder {
  color: #aaa;
}

textarea::-webkit-input-placeholder {
  color: #aaa;
}

textarea::-moz-placeholder {
  color: #aaa;
}

textarea:-ms-input-placeholder {
  color: #aaa;
}

textarea:-moz-placeholder {
  color: #aaa;
}

.button {
  text-align:  center;
  padding: 1em 2em;
  background: #5fb4ec;
  border: 0;
  border-radius: 50px;
  color: white;
  text-transform:  uppercase;
  letter-spacing: 2px;
  display:block;
  margin:1em auto 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.button:hover {
  background: #2caafd;
}


@media screen and (max-width: 490px) {
  .box {
    width: 70%;
    padding: 20px 30px;
  }
}
